* {
    box-sizing: border-box;
    --done-color: #f68059;
    --todo-color: #ffbf3a;
    --pending-color: #4e3dc8;
    margin: 0px 0px;
    padding: 0px 0px;
  }

  body{
    margin: 0px 0px;
    padding: 0px 0px; 
}
  
  .mat-form-field-flex {
    background-color: white !important;
    padding-left: 0 !important;
  }
  
  mat-form-field {
    width: 100%;
  }
  textarea {
    height: 150px !important;
  }

  @media(max-width: 400px){
    body{
        max-width: 345px;
        width: 100%;
    }
}